
@{
    Layout = null;
    User user = Session["login"] as User;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/Content/AdminTheme/img/favicon.png">

    <title>@ViewBag.Title - MVC Blog Projesi</title>

    @Styles.Render("~/Admin/css")
    @RenderSection("styles", false)

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="~/Content/AdminTheme/js/html5shiv.js"></script>
      <script src="~/Content/AdminTheme/js/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="">

    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="@Url.Action("Index", "Home")" class="logo">MVC<span>Blog</span></a>
            <!--logo end-->

            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        <input type="text" class="form-control search" placeholder="Ara">
                    </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="@user.ImagePath" style="width:29px; height:29px">
                            <span class="username">@user.Name @user.Surname</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="@Url.Action("Index", "Profile")"><i class=" icon-suitcase"></i>Profil</a></li>
                            <li><a href="@Url.Action("Edit", "Profile")"><i class="icon-edit"></i>Düzenle</a></li>
                            <li><a href="@Url.Action("Index", "Todo")"><i class="icon-tasks"></i>To-Do</a></li>
                            <li><a href="@Url.Action("Logout", "Account")"><i class="icon-key"></i>Çıkış</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>

            @Html.Partial("_PartialMenu")

        </aside>

        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">

                @RenderBody()

            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2013 &copy; FlatLab by VectorLab.
                <a href="#" class="go-top">
                    <i class="icon-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/Admin/js")
    @RenderSection("scripts", false)

    <script>

        //owl carousel

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

    </script>

</body>
</html>