@model List<Comment>
@{
    ViewBag.Title = "Yorum Listele";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="panel panel-primary">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Yazar</th>
                    <th>Makale</th>
                    <th>Tarih</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
             
                @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Header</td>
                            <td>@item.Text</td>
                            <td>@item.User.Username</td>
                            <td>@item.Article.Header</td>
                            <td>@item.CreatedDate</td>
                            <td>
                                <a href="@Url.Action("Edit", "Comment", new { ID = item.ID })" class="btn btn-primary btn-xs"><i class="icon-pencil"></i></a>
                                <a href="@Url.Action("Delete", "Comment", new { ID = item.ID })" class="btn btn-danger btn-xs"><i class="icon-trash "></i></a>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</section>


